.nossa-frota {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.frota-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.frota-item {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 80%;
  max-width: 900px;
  align-items: center;
  position: relative;
  height: 250px; 
}

.frota-image {
  width: 40%;
  height: 100%; 
  object-fit: cover;
}

.frota-info {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.frota-info h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.frota-info p {
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-veja-mais {
  background-color: #5b00e4;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.btn-veja-mais:hover {
  background-color: #330180;
}

/* Responsividade */
@media (max-width: 768px) {
  .frota-item {
    flex-direction: column;
    align-items: center;
    height: auto; 
  }

  .frota-image {
    width: 100%; 
    height: auto;
    object-fit: cover; 
  }

  .frota-info h2, 
  .frota-info p {  
    display: none;
  }

  .frota-info {
    background-color: transparent; 
    position: static; 
    width: 100%; 
    padding: 0; 
    text-align: center;
  }

  .btn-veja-mais {
    display: inline-block; 
    background-color: #5b00e4; 
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }

  .btn-veja-mais:hover {
    background-color: #330180; 
  }
}